<h1><%= @user.id ? 'Edit' : 'New' %></hi>
<br/>
<div class = 'form'>
  <%= form_for [@user] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true  %>
    <%= f.label :email %>
    <%= f.text_field :email, required: true  %>
    <%= f.submit %>
  <% end %>
</div>